# Data handling & math
numpy>=1.24.0
pandas>=2.0.0
pyarrow>=12.0.0

# Financial data collection
yfinance>=0.2.30
mftool>=2.6
requests>=2.31.0

# Technical indicators & stats
scipy>=1.10.0
ta>=0.11.0

# Visualization & Notebook prototyping
matplotlib>=3.7.0
seaborn>=0.12.0
jupyterlab>=4.0.0